<h3>Lista de empleados Hello Kitty </h3>
<p>
    <a class="nav-link" routerLink="/employee/add" routerLinkActive="active"><i class="fas fa-plus-circle"></i>Añadir</a>
</p>
<div class="col-md-4" *ngFor="let employee of employee" >
    <div class="card text-center">
        <div class="card-header bg-dark text-white d-flex justify-content-between align-items-center">
            {{employee.nombre}}         
            <button class="btn btn-danger" (click)="deleteEmployee(employee.id)">
                <i class="far far-trash-alt"></i>
            </button>
        </div>
        <div class="card-body">
            <p>Tipo: {{employee.tipo}}</p>
            <p>Pais origen: {{employee.pais}}</p>
            <p>Salario: {{ employee.salario}} </p>
            <p>Pasaporte: {{employee.pasaporte}}</p>
            <a  [routerLink]="['/employee/edit', employee.id    ]" class="btn btn-info btn-block" >
                EDIT EMPLOYEE
            </a>
        </div>
    </div>
</div>